
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>HOŞGELDİNİZ..</h2>

<p style="font-family:Calibri; font-size:30px; color:dodgerblue;" >Bu bir mağaza admin paneli projesidir. Entity framework ve ve istatistikler bölümünde linq sorguları kullanılmıştır. Bazı sayfalarda listelerde arama işlemi yapabilirsiniz aynı zamanda ürünler sayfasında sayfalama işlemi vardır. Yukarıda bulunan menüden istediğiniz bölüme gidip işlemlerinizi yapabilirsiniz. Kolay Gelsin :)</p>